[Let Users Install Packages]
Identity=unix-user:{{ primary_user }}
Action=org.freedesktop.packagekit.package-install
ResultAny=no
ResultInactive=no
ResultActive=yes

[Let Users Remove Packages]
Identity=unix-user:{{ primary_user }}
Action=org.freedesktop.packagekit.package-remove
ResultAny=no
ResultInactive=no
ResultActive=yes
