[Let Users Install Flatpaks]
Identity=unix-user:{{ primary_user }}
Action=org.freedesktop.Flatpak.app-install
ResultAny=no
ResultInactive=no
ResultActive=yes

[Let Users Install Flatpak Runtimes]
Identity=unix-user:{{ primary_user }}
Action=org.freedesktop.Flatpak.runtime-install
ResultAny=no
ResultInactive=no
ResultActive=yes

[Let Users Remove Flatpaks]
Identity=unix-user:{{ primary_user }}
Action=org.freedesktop.Flatpak.app-uninstall
ResultAny=no
ResultInactive=no
ResultActive=yes

[Let Users Remove Flatpak Runtimes]
Identity=unix-user:{{ primary_user }}
Action=org.freedesktop.Flatpak.runtime-uninstall
ResultAny=no
ResultInactive=no
ResultActive=yes
